@charset "UTF-8";

header{
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
div.entrar{
    float: right;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}
div.entrar:hover{
    background:rgba(0, 0, 0, 0.644);
    color: white;
    transition-duration: 1s;
}

div.menu{
    text-align: center;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
}
p{
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}
a{
    color: black;
}
p:hover{
    background:rgba(0, 0, 0, 0.644);
    color: white;
    transition-duration: 1s;
}