@charset "UTF-8";
::-webkit-scrollbar{
    width: 0px;
}
header{
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
div.menu{
    text-align: center;
}
div.menu>a>p{
    display: inline-block;
    margin: 10px;
    width: 120px;
    border-radius: 5px;
}
div.menu>a>p:hover{
    background: rgba(0, 0, 0, 0.651);
    color:wheat;
    border: 1px solid white;
    transition-duration: 1s;
}
a{
    text-decoration:none;
    color: black;
}
nav.entrega{
    width: 80vw;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
div#d{
    
    width: 120px;
    margin: auto;
    border-radius: 10px;
}
div#d:hover{
    background: rgba(139, 0, 0, 0.781);
    color:white;
}
div#b{
    width: 120px;
    margin: auto;
    border-radius: 10px;
}
div#b:hover{
    background: rgba(139, 0, 0, 0.781);
    color:white;
}
section#c{
    width: 80VW;
    
    text-align: center;
    margin: auto;
}
div#opt{
    display: inline-block;
    border: 1px solid black;
    width: 150px;
    height: 100px;
    margin: auto;
}
